<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css'| relative_url }}">

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
  <header>
    <div class="header-content">
        <h2>Benchmarking Object Detectors with COCO: Are We at a Crossroads?</h2>
        <h2>Presenting</h2> <h1>COCO-ReM</h1>
    </div>
  </header>

  <main>

    <div id="image-widget">
        <h2>A sneak peek</h2>
        <img id="widget-image" src ="" alt="Widget Image">
    </div>
    
    <div class="additional-content">
        <h2>Explore Our Dataset</h2>
        <p>Tap into the full potential of the carefully curated COCO-ReM dataset. Explore deep insights and emerging trends that could transform your research and applications.COCO-ReM sets a new standard with superior mask quality, offering a trustworthy evaluation set for the latest in object detectors.</p>
        <h2>Coming Soon !!</h2>
    </div>
    <div class="team-section">
        <h2>Meet Our Team</h2>
        <div class="team-member">
            <img src="{{ site.baseurl }}/assets/images/imageA.jpg" alt="Team Member 1">
            <p>Team member 1</p>
        </div>
        <div class="team-member">
            <img src="{{ site.baseurl }}/assets/images/imageA.jpg" alt="Team Member 2">
            <p>Team member 2</p>
        </div>
        <div class="team-member">
            <img src="{{ site.baseurl }}/assets/images/imageA.jpg" alt="Team Member 2">
            <p>Team member 3</p>
        </div>
        <div class="team-member">
            <img src="{{ site.baseurl }}/assets/images/imageA.jpg" alt="Team Member 2">
            <p>Team member 4</p>
        </div>
        <div class="team-member">
            <img src="{{ site.baseurl }}/assets/images/imageA.jpg" alt="Team Member 2">
            <p>Team member 5</p>
        </div>
        <div class="team-member">
            <img src="{{ site.baseurl }}/assets/images/imageA.jpg" alt="Team Member 2">
            <p>Team member 6</p>
        </div>
        <!-- Add more team members as needed -->
    </div>

    
</main>
<footer>
    <div class="footer-content">
        <p>&copy; 2023 Your Dataset Release Site. All rights reserved.</p>
    </div>
</footer>
<script src="{{ site.baseurl }}/assets/js/image-widget.js"></script>

</body>
</html>
